.homeInfo {
  display: inline-block;
  height: 140px;
  width: 100%;
  vertical-align: middle;
}

.houseList {
  width: 50%;
  position: absolute;
  right: 0;
}
.listContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.grayBack {
  background-color: #f3f3f3;
}
.homeInfo:hover {
  background-color: #bbb;
}

.priceInfo {
  display: table-cell;
  text-align: center;
  width: 10%;
  height: 140px;
  vertical-align: middle;
}
.roomInfo {
  display: table-cell;
  text-align: center;
  width: 15%;
  height: 140px;
  vertical-align: middle;
}
.addrInfo {
  display: table-cell;
  text-align: center;
  width: 40%;
  height: 140px;
  vertical-align: middle;
}
.userInfo {
  display: table-cell;
  text-align: center;
  width: 15%;
  height: 140px;
  vertical-align: middle;
}
.picInfo {
  display: table-cell;
  text-align: center;
  width: 20%;
  height: 140px;
  vertical-align: middle;
}
